body{
    background-color: #b8bcfa;
    font-family: 'DM Sans', sans-serif;
}

.links,.updates,.facts{
background-color: white;
float: none;
border-radius: 15px;
padding-left: 10px;
padding-right: 10px;
width: 500px;
}


.page{
    border-radius: 10px;
     background-color: #9399f5;
    border-top: 7px solid rgb(66, 5, 107);
    text-align: center;
    display: inline;
     width: 1000px;

}

