body{
    background-color:#b8bcfa;
    text-align: center;
}
.container{
    text-align: center;
}
#wrap{
    text-align:center
}

.sicon{
    border-radius: 80px;
}
.folder{
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
    width: 170px;

}

.row{
   
    border-radius: 20px;
    width: 100px;
    display: inline;
}
#ptag{
    color: black;
    font-weight: bolder;
    float: center;
   padding: 10;
}
#login_div{
    border-radius: 20px;
    border-top: 15px solid salmon;
    text-align: center;
    background-color: white;
     position: center;
    margin-top: 100px;

}

.disclaimer{
    background-color: wheat;
    border-radius: 20px;
    border:5px dashed hotpink;
    margin-left: 300px;
    width: 550px;
    margin-top: 70px;
}

#login{
    width: 50%;
    border-radius: 15px;
}

#logout{
    margin-left: 800px;
}

#user_label{
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
}

.top-bar{
    margin-bottom:-10px ;
}